@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* black text */
  --background-end-rgb: 240, 235, 225;
  --accent-brown: #6B4F36;
  --highlight-green: #22c55e;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background-color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
