@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 44, 36, 30; /* deep brown for text */
  --background-start-rgb: 240, 235, 225; /* light beige background */
  --background-end-rgb: 240, 235, 225;
  --accent-brown: #6B4F36;
  --highlight-green: #22c55e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 44, 36, 30;
    --background-end-rgb: 44, 36, 30;
    --accent-brown: #bfae9c;
    --highlight-green: #22c55e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background-color: #d3d3d3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
